<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Ajouter une classe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!-- pour le nom et prenom -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="ion-margin-vertical">
        <ion-item lines="none">
          <ion-label position="floating">Nom de la classe<ion-text color="danger">*</ion-text> </ion-label>
          <ion-input type="text" formControlName="name" (keyup.enter)="onSubmit()"></ion-input>
        </ion-item>
        <div *ngIf="form.controls.name.hasError('required') && form.controls.name.dirty">
          <ion-text color="danger">
            <small>Le nom est requis.</small>
          </ion-text>
        </div>
        <div *ngIf="form.controls.name.hasError('minlength') && form.controls.name.dirty">
          <ion-text color="danger">
            <small>Le nom doit comporter au moins 2 caractères.</small>
          </ion-text>
        </div>

        <div *ngIf="form.controls.name.hasError('maxlength') && form.controls.name.dirty">
          <ion-text color="danger">
            <small>Le nom doit comporter au maximum 24 caractères.</small>
          </ion-text>
        </div>
      </div>
      <!-- pour le formateur -->
      <div class="ion-margin-vertical">
        <ion-item lines="none">
          <ion-label position="floating">Formateur<ion-text color="danger">*</ion-text> </ion-label>
          <ion-input type="text" formControlName="formateur" (keyup.enter)="onSubmit()"></ion-input>
        </ion-item>
        <div *ngIf="form.controls.formateur.hasError('required') && form.controls.formateur.dirty">
          <ion-text color="danger">
            <small>Le nom est requis.</small>
          </ion-text>
        </div>
        <div *ngIf="form.controls.formateur.hasError('minlength') && form.controls.formateur.dirty">
          <ion-text color="danger">
            <small>Le nom doit comporter au moins 2 caractères.</small>
          </ion-text>
        </div>

        <div *ngIf="form.controls.formateur.hasError('maxlength') && form.controls.formateur.dirty">
          <ion-text color="danger">
            <small>Le nom doit comporter au maximum 24 caractères.</small>
          </ion-text>
        </div>
      </div>
      <!-- pour les etudiant -->
      <div class="ion-margin-vertical">
        <ion-item lines="none">
          <ion-label position="floating"
            >La liste des etudiants ajoutés<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="text" formControlName="etudiant" (keyup.enter)="onSubmit()"></ion-input>
        </ion-item>
        <div *ngIf="form.controls.etudiant.hasError('required') && form.controls.etudiant.dirty">
          <ion-text color="danger">
            <small>La date est requis.</small>
          </ion-text>
        </div>
        <div *ngIf="form.controls.etudiant.hasError('minlength') && form.controls.etudiant.dirty">
          <ion-text color="danger">
            <small>La date doit comporter au moins 2 caractères.</small>
          </ion-text>
        </div>

        <div *ngIf="form.controls.etudiant.hasError('maxlength') && form.controls.etudiant.dirty">
          <ion-text color="danger">
            <small>La date doit comporter au maximum 24 caractères.</small>
          </ion-text>
        </div>
      </div>

      <div class="ion-text-center">
        <ion-button type="submit" shape="round" [disabled]="(isLoading$ | async) || form.invalid">
          <ion-spinner *ngIf="isLoading$ | async"></ion-spinner>
          Enregistrer
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
