<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Changer mot de passse</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="ion-margin-vertical">
        <ion-item lines="none">
          <ion-label position="floating">vieux mot de passe<ion-text color="danger">*</ion-text> </ion-label>
          <ion-input type="password" formControlName="oldPassword" (keyup.enter)="onSubmit()"></ion-input>
        </ion-item>

        <div *ngIf="form.controls.oldPassword.hasError('required') && form.controls.oldPassword.dirty">
          <ion-text color="danger">
            <small>Vieux mot de passe est requis.</small>
          </ion-text>
        </div>
      </div>

      <div class="ion-margin-vertical">
        <ion-item lines="none">
          <ion-label position="floating">Mot de passe <ion-text color="danger">*</ion-text> </ion-label>
          <ion-input type="password" formControlName="password" (keyup.enter)="onSubmit()"></ion-input>
        </ion-item>

        <div *ngIf="form.controls.password.hasError('required') && form.controls.password.dirty">
          <ion-text color="danger">
            <small>Mot de passe requis.</small>
          </ion-text>
        </div>

        <div *ngIf="form.controls.password.hasError('password') && form.controls.password.dirty">
          <ion-text color="danger">
            <small>Le mot de passe doit avoir minimum de 8 et maximum de 24characters.</small>
          </ion-text>
        </div>
      </div>

      <div class="ion-margin-vertical">
        <ion-item lines="none">
          <ion-label position="floating">Confirmer mot de passe</ion-label>
          <ion-input type="password" formControlName="confirmPassword" (keyup.enter)="onSubmit()"></ion-input>
        </ion-item>

        <div *ngIf="form.controls.confirmPassword.hasError('NoPassswordMatch') && form.controls.confirmPassword.dirty">
          <ion-text color="danger">
            <small>Aucune correspondance de mot de passe.</small>
          </ion-text>
        </div>
      </div>

      <div class="ion-text-center">
        <ion-button type="submit" shape="round" [disabled]="isLoading || form.invalid">
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          Enregistrer
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
