<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Formateurs</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading$ | async"></ion-progress-bar>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        {{ user?.get('name') }}
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh()">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>
    <ion-searchbar color="light" (ionChange)="onSearch($event)"></ion-searchbar>

    <div class="ion-text-end">
      <ion-button fill="clear" (click)="onSort()" [color]="(isSorted$ | async) ?  'danger' : ''">
        <!-- <ion-icon slot="icon-only" name="funnel"></ion-icon> -->
      </ion-button>
      <ion-button fill="clear" (click)="onCreate()" *ngIf="userRole?.getName() === 'admin'">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </div>

    <ion-row>
      <ion-col
        *ngFor="let user of objects$ | async; trackBy: trackByFn"
        sizeXs="12"
        sizeSm="6"
        sizeMd="6"
        sizeLg="4"
        sizeXl="4"
      >
        <ion-item lines="none">
          <ion-label>{{ user.get('name') }}</ion-label>
          <ion-button class="ion-no-margin" slot="end" fill="clear" (click)="onShowDetails(user.id)">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
          <ion-button
            class="ion-no-margin"
            slot="end"
            fill="clear"
            (click)="onDelete(user.id)"
            *ngIf="userRole?.getName() === 'admin'"
          >
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
