<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Formateurs</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        Déconnexion
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid fixed>
    <ion-searchbar color="light" (ionChange)="onSearch($event)"></ion-searchbar>

    <div class="ion-text-end">
      <ion-button fill="clear" (click)="onCreate()" *ngIf="userRole?.getName() === 'admin'"
        >Ajouter
        <ion-icon slot="start" name="add-circle"></ion-icon>
      </ion-button>
    </div>

    <ion-row>
      <ion-col *ngFor=" let Formateur of formateurs " sizeXs="12" sizeSm="6" sizeMd="6" sizeLg="4" sizeXl="4">
        <ion-item lines="none">
          <ion-label>{{ formateur.get('name') }}</ion-label>
          <ion-button class="ion-no-margin" slot="end" fill="clear" (click)="onShowDetails(formateur.id)">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
          <ion-button class="ion-no-margin" slot="end" fill="clear" (click)="onDelete(formateur.id)" *ngIf="userRole?.getName() === 'admin'">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
