<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>détails</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="ion-margin-vertical">
      <ion-item lines="none">
        <ion-label position="stacked">Nom de la classe</ion-label>
        <ion-input type="text" [value]="classe.get('name')" readonly></ion-input>
      </ion-item>
    </div>
    <div class="ion-margin-vertical">
      <ion-item lines="none">
        <ion-label position="stacked">créer à </ion-label>
        <ion-input type="text" [value]="classe.get('createdAt') | date: 'medium'" readonly></ion-input>
      </ion-item>
    </div>

    <div class="ion-margin-vertical">
      <ion-item lines="none">
        <ion-label position="stacked">Mise à jour </ion-label>
        <ion-input type="text" [value]="classe.get('updatedAt') | date: 'medium'" readonly></ion-input>
      </ion-item>
    </div>

    <ion-item-divider>
      <ion-label>Liste des utilisaateurs</ion-label>
    </ion-item-divider>

    <ion-list>
      <ion-item *ngFor="let user of users">
        <ion-label>{{user.get('name')}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
