<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Ajouté un cours </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!-- pour le titre-->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="ion-margin-vertical">
        <ion-item lines="none">
          <ion-label position="floating">Titre de cours<ion-text color="danger">*</ion-text> </ion-label>
          <ion-input type="text" formControlName="name" (keyup.enter)="onSubmit()"></ion-input>
        </ion-item>
        <div *ngIf="form.controls.name.hasError('required') && form.controls.name.dirty">
          <ion-text color="danger">
            <small>Le titre de cours est requis.</small>
          </ion-text>
        </div>
        <div *ngIf="form.controls.name.hasError('minlength') && form.controls.name.dirty">
          <ion-text color="danger">
            <small>Le titre de cours doit comporter au moins 2 caractères.</small>
          </ion-text>
        </div>

        <div *ngIf="form.controls.name.hasError('maxlength') && form.controls.name.dirty">
          <ion-text color="danger">
            <small>Le titre de cours doit comporter au maximum 24 caractères.</small>
          </ion-text>
        </div>
      </div>
      <!-- pour la classe -->

      <div class="ion-margin-vertical">
        <ion-item lines="none">
          <ion-label position="floating">Classe<ion-text color="danger">*</ion-text> </ion-label>
          <ion-input type="text" formControlName="Class" (keyup.enter)="onSubmit()"></ion-input>
        </ion-item>
        <div *ngIf="form.controls.Class.hasError('required') && form.controls.Class.dirty">
          <ion-text color="danger">
            <small>La classe est requis.</small>
          </ion-text>
        </div>
        <div *ngIf="form.controls.Class.hasError('minlength') && form.controls.Class.dirty">
          <ion-text color="danger">
            <small>La classe doit comporter au moins 2 caractères.</small>
          </ion-text>
        </div>

        <div *ngIf="form.controls.Class.hasError('maxlength') && form.controls.Class.dirty">
          <ion-text color="danger">
            <small>La classe doit comporter au maximum 24 caractères.</small>
          </ion-text>
        </div>
      </div>
      <!-- pour les formateurs -->
      <div class="ion-margin-vertical">
        <ion-item lines="none">
          <ion-label position="floating">Formateur<ion-text color="danger">*</ion-text> </ion-label>
          <ion-input type="text" formControlName="formateur" (keyup.enter)="onSubmit()"></ion-input>
        </ion-item>
        <div *ngIf="form.controls.formateur.hasError('required') && form.controls.formateur.dirty">
          <ion-text color="danger">
            <small>Le formateur est requis.</small>
          </ion-text>
        </div>
        <div *ngIf="form.controls.formateur.hasError('minlength') && form.controls.formateur.dirty">
          <ion-text color="danger">
            <small>Le formateur doit comporter au moins 2 caractères.</small>
          </ion-text>
        </div>

        <div *ngIf="form.controls.formateur.hasError('maxlength') && form.controls.formateur.dirty">
          <ion-text color="danger">
            <small>Le formateur doit comporter au maximum 24 caractères.</small>
          </ion-text>
        </div>
      </div>
      <!-- pour les dates -->
      <div class="ion-margin-vertical">
        <ion-item lines="none">
          <ion-label position="floating">Date<ion-text color="danger">*</ion-text> </ion-label>
          <ion-input type="date" formControlName="dat" (keyup.enter)="onSubmit()"></ion-input>
        </ion-item>
        <div *ngIf="form.controls.dat.hasError('required') && form.controls.dat.dirty">
          <ion-text color="danger">
            <small>La date est requis.</small>
          </ion-text>
        </div>
        <div *ngIf="form.controls.dat.hasError('minlength') && form.controls.dat.dirty">
          <ion-text color="danger">
            <small>La date doit comporter au moins 2 caractères.</small>
          </ion-text>
        </div>

        <div *ngIf="form.controls.dat.hasError('maxlength') && form.controls.dat.dirty">
          <ion-text color="danger">
            <small>La date doit comporter au maximum 24 caractères.</small>
          </ion-text>
        </div>
      </div>
      <!-- pour la Durée -->
      <div class="ion-margin-vertical">
        <ion-item lines="none">
          <ion-label position="floating">Durée<ion-text color="danger">*</ion-text> </ion-label>
          <ion-input type="text" formControlName="Duree" (keyup.enter)="onSubmit()"></ion-input>
        </ion-item>
        <div *ngIf="form.controls.Duree.hasError('required') && form.controls.Duree.dirty">
          <ion-text color="danger">
            <small>La Duree est requis.</small>
          </ion-text>
        </div>
        <div *ngIf="form.controls.Duree.hasError('minlength') && form.controls.Duree.dirty">
          <ion-text color="danger">
            <small>La Duree doit comporter au moins 2 caractères.</small>
          </ion-text>
        </div>

        <div *ngIf="form.controls.Duree.hasError('maxlength') && form.controls.Duree.dirty">
          <ion-text color="danger">
            <small>La Duree doit comporter au maximum 24 caractères.</small>
          </ion-text>
        </div>
      </div>
      <!-- pour enreistrer -->
      <div class="ion-text-center">
        <ion-button type="submit" shape="round" [disabled]="(isLoading$ | async) || form.invalid">
          <ion-spinner *ngIf="isLoading$ | async"></ion-spinner>
          Enregistrer
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
