<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>détail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- pour le nom et prenom  -->
  <div class="ion-padding">
    <div class="ion-margin-vertical">
      <ion-item lines="none">
        <ion-label position="stacked">Nom et Prénom</ion-label>
        <ion-input type="text" [value]="user.get('name')" readonly></ion-input>
      </ion-item>
    </div>
    <!-- la date de naissance  -->

    <div class="ion-margin-vertical">
      <ion-item lines="none">
        <ion-label position="stacked">Date de Naissance</ion-label>
        <ion-input type="Date" [value]="user.get('date_naissance')" readonly></ion-input>
      </ion-item>
    </div>
    <!-- le nombre d'absence -->
    <div class="ion-margin-vertical">
      <ion-item lines="none">
        <ion-label position="stacked">Le nombre d'absences</ion-label>
        <ion-input type="text" [value]="user.get('absences')" readonly></ion-input>
      </ion-item>
    </div>
    <!-- les Classes -->
    <div class="ion-margin-vertical">
      <ion-item lines="none">
        <ion-label position="stacked">Classe</ion-label>
        <ion-input type="text" [value]="user.get('class')" readonly></ion-input>
      </ion-item>
    </div>
    <!-- pour le mail -->
    <div class="ion-margin-vertical">
      <ion-item lines="none">
        <ion-label position="stacked">Mail</ion-label>
        <ion-input type="email" [value]="user.get('email')" readonly></ion-input>
      </ion-item>
    </div>
    <!--numéro de téléphone -->
    <div class="ion-margin-vertical">
      <ion-item lines="none">
        <ion-label position="stacked">Numéro de Téléphone</ion-label>
        <ion-input type="number" [value]="user.get('phone')" readonly></ion-input>
      </ion-item>
    </div>

    <div class="ion-margin-vertical">
      <ion-item lines="none">
        <ion-label position="stacked">Créer à</ion-label>
        <ion-input type="text" [value]="user.get('createdAt') | date: 'medium'" readonly></ion-input>
      </ion-item>
    </div>

    <div class="ion-margin-vertical">
      <ion-item lines="none">
        <ion-label position="stacked">Mise à jour</ion-label>
        <ion-input type="text" [value]="user.get('updatedAt') | date: 'medium'" readonly></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>
