<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ecole multimedia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        Déconnexion
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
            Précédent
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Aujourd'hui
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
            Prochains
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="btn-group">
          <button class="btn btn-primary pull-right" (click)="onCreate()" *ngIf="userRole?.getName() === 'admin'">
            Ajouter un cours
          </button>
        </div>
      </div>
    </div>
    <br />
    <div [ngSwitch]="view">
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        locale="fr-FR"
        [viewDate]="viewDate"
        [events]="cours"
        [dayStartHour]="9"
        [refresh]="refresh"
        (eventClicked)="onShowDetails($event.event)"
      >
      </mwl-calendar-week-view>
    </div>
  </div>
</ion-content>
